<%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span> Back'), pins_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= @pin.description %>
			</div>
			<div class="panel-body center">
				<%= image_tag @pin.image.url(:medium) %>				
			</div>
			<div class="panel-footer center">
				pin created by: 
				<strong><%= @pin.user.name %></strong>
				<%if @pin.user == current_user %>
				  &nbsp;
					<strong><%= link_to raw('<span class="glyphicon glyphicon-edit"></span> Edit'), edit_pin_path(@pin) %></strong>
				<% end %>
			</div>
		</div>
	</div>
</div>		